$font-primary: 'Work Sans', Verdana, sans-serif; 

$gradient-primary: linear-gradient(90deg, rgba(0,108,179,1) 0%, rgba(2,82,135,1) 100%);
$gradient-secondary: linear-gradient(90deg, rgba(253,123,170,1) 0%, rgba(0,108,179,1) 100%);

$color-primary: rgba(0,108,179,1);
$color-secondary: #FF91B9;

$base-size: 8px;
$xs-size: $base-size/2;
$sm-size: $base-size*2;
$md-size: $base-size*3;
$lg-size: $base-size*4;
$xl-size: $base-size*5;
$xxl-size: $base-size*6;

$z-first: 0 14px 30px 0 rgba(0, 0, 0, 0.2);
$z-second: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
$z-third: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

$break-sm: 640px;
$break-md: 960px;
$break-lg: 1280px;

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;

  @media (min-width: $break-sm) {
    padding: 0;
      width: 588px;
  }

  @media (min-width: $break-md) {
      width: 906px;
  }
  
  @media (min-width: $break-lg) {
      width: 1216px;
  }
}